
#ui-datepicker-div{
    background-color:white;   
    width:300px;
}
.ui-datepicker-calendar{
    width:100%
}
.ui-datepicker-prev, .ui-datepicker-next{
    display:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
