@model IEnumerable<VDMS.ViewModel.VTypeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <h5 class="card-header">Vehicle Types</h5>
            <div class="card-body">
                <table class="table table-striped" id="vtypeTb">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                                <button type="button" data-manufacture="@item.Id" class="js-delete btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
